#logo
  hideselect()
  visibility hidden
  opacity 0
  width 13rem
  position fixed
  top ($padding+1.5)
  right ($padding*5+1)
  z-index 302
  svg
    display block
    width 100%
    path
      transition fill $colorTransition ease
      fill $secondary

#logo-desktop
  hideselect()
  width 9rem
  position fixed
  top ($padding)
  left ($padding)
  z-index 302
  +below($md)
    display none
  svg
    display block
    width 100%
    path
      transition fill $colorTransition ease
      fill $secondary

[logo-color=dark]
  #logo, #logo-desktop
    svg
      path
        fill $secondary

[logo-color=light]
  #logo, #logo-desktop
    svg
      path
        fill $primary

[page-type=home]
  #logo
    +below($md)
      opacity 1
      visibility visible
