#logo
  hideselect()
  width 9rem
  position fixed
  top ($padding)
  left ($padding)
  z-index 302
  transition opacity 300ms ease, visibility 300ms ease
  +below($md)
    visibility hidden
    opacity 0
    width 12rem
    top ($padding+1.5)
    left initial
    right ($padding*5+1)
  svg
    display block
    width 100%
    path
      transition fill $colorTransition ease
      fill $secondary

[logo-color=dark]
  #logo
    svg
      path
        fill $secondary

[logo-color=light]
  #logo
    svg
      path
        fill $primary

[page-type=home]
  #logo
    opacity 1
    visibility visible
