.slider
	height 100vh
	hideselect()
	.slide
		height 100%
		margin-right 0.7rem
		// .lazy
		// 	opacity 1
		// 	transition filter 300ms ease
		// 	filter: blur(3px)
		// 	&.lazyloaded, &.flickity-lazyloaded
		// 		filter: blur(0px)
		.content
			height 100%
			img
				width auto
				height 100%
		.content.video
			width 100%
			.plyr--ready
				width 100%
				height 100%
			video
				width 100%
				height 100%
				object-fit contain
	.slide.is-selected
		visibility visible
		z-index 1
	.flickity-prev-next-button
		top 0
		height 100%
		width 5rem
		margin-top 0
		background transparent
		padding 0
		transform none
		border none
		border-radius 0
		z-index 10
		mix-blend-mode difference
		+below($md)
			display none
		&.previous
			left 0
		&.next
			right 0
		&[disabled]
			display none
		&:focus
			outline none
			box-shadow none
		&:active
			opacity 1
	.flickity-button-icon
		fill $primary
	&[data-media="video"]:not(.nav-hover)
		#mouse-nav
			&::before
				content 'Play'
		&.pause
			#mouse-nav::before
				content 'Pause'
		&.loading
			#mouse-nav::before
				content 'Loading'
	&[data-media="video"]
		.flickity-prev-next-button
			width 15%
		.plyr__controls
			cursor auto
			+below($md)
				display none
		.plyr--stopped
			.plyr__controls
				opacity 0
	&[data-media="image"], &.nav-hover
		&.left
			#mouse-nav::before
				content 'Prev'
		&.right
			#mouse-nav::before
				content 'Next'
	&:hover
		#mouse-nav
			+above($md)
				display block
