[page-type=home]
	#logo
		visibility visible !important
		opacity 1 !important

#intro-videos
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	video
		width 100%
		height 100%
		object-fit cover
		&.contain
			object-fit contain
	.plyr, .plyr__video-wrapper
		height 100%
		overflow hidden
	.plyr:not(:first-child)
		display none

#intro-text
	transition color $colorTransition ease
	text-transform uppercase
	line-height 0.9
	position absolute
	bottom ($padding+1.5)
	left ($padding+1.5)
	z-index 10
	#title-1
		font-size 2rem
	#title-2
		font-size 4rem
	#title-3, #title-4
		font-size 2rem
		line-height 1.1

[logo-color=light]
	#intro-text
		color $primary
