#manifesto
  width 100%
  height 100%
  +above($md + 1)
    position absolute
    top 0
    left 0
  +below($md)
    height calc(100vh - 8rem)
  video
    width 100%
    height 100%
    object-fit cover
    &.contain
      object-fit contain
  .plyr, .plyr__video-wrapper
    height 100%
    overflow hidden
  .plyr:not(:first-child)
    display none

+above($md + 1)
  [page-type=manifesto]
    #page-description.hide
      transform translateX(100%)
