.fullpage-wrapper
	transform none !important
	.fp-section
		position fixed
		top 0
		left 0
		z-index 0
		background $primary
		&.active
			z-index 2
			&.animate
				transition transform 500ms ease
				transform none
		&:not(.leaving):not(.animate)
			transform translateY(100%) translateZ(0)
	&.going-up
		.fp-section
			&:not(.leaving):not(.animate)
				transform translateY(-100%) translateZ(0)

section.section
	span(1)
	min-height 100vh
	overflow hidden
	// position relative
	&.fp-section
		#page-description
			+above($md + 1)
				padding-right 11rem
		#page-description.fixed
			+above($md + 1)
				right ($padding+1.5)

// #page-content
// 	&::before
// 		transition opacity 300ms ease, visibility 300ms ease
// 		opacity 0
// 		visibility hidden
// 		content ''
// 		position absolute
// 		width 100%
// 		height 100vh
// 		top 0
// 		left 0
// 		background linear-gradient(to right, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.003) 7.7%, hsla(0, 0%, 0%, 0.013) 14.8%, hsla(0, 0%, 0%, 0.027) 21%, hsla(0, 0%, 0%, 0.044) 26.5%, hsla(0, 0%, 0%, 0.062) 31.4%, hsla(0, 0%, 0%, 0.081) 35.9%, hsla(0, 0%, 0%, 0.1) 40.1%, hsla(0, 0%, 0%, 0.12) 44.2%, hsla(0, 0%, 0%, 0.14) 48.1%, hsla(0, 0%, 0%, 0.16) 52%, hsla(0, 0%, 0%, 0.181) 56%, hsla(0, 0%, 0%, 0.201) 60.1%, hsla(0, 0%, 0%, 0.22) 64.3%, hsla(0, 0%, 0%, 0.239) 68.8%, hsla(0, 0%, 0%, 0.257) 73.7%, hsla(0, 0%, 0%, 0.273) 79.2%, hsla(0, 0%, 0%, 0.287) 85.4%, hsla(0, 0%, 0%, 0.297) 92.5%, hsla(0, 0%, 0%, 0.3) 100%);
// 		z-index 10
// 		pointer-events none
// 	&.popup::before
// 		opacity 1
// 		visibility visible

#page-description
	position relative
	z-index 15
	line-height 1.3
	letterspacing()
	a
		bold()
		line-height 2
		box-shadow 0 0.1rem $primary, 0 0.16rem
		// text-decoration underline
		// text-decoration-skip ink
	u
		line-height 2
		box-shadow 0 0.1rem $primary, 0 0.16rem
		// text-decoration underline
		// text-decoration-skip ink
	ul, ol
		padding-left 1.2em
		li
			list-style disc

[page-type=default],
[page-type=manifesto],
[page-type=project],
[page-type=page-slider],
[page-type=entries]
[page-type=entry],
[page-type=events],
[page-type=offices]
	h1, h2, h3, .lead
		title()
	h3, .lead
		border-bottom none
	.slider
		span(6/10)
		+below($md)
			stack()
		.slide
			background alpha($secondary, 0.05)
	#page-description
		span(4/10)
		padding ($padding*4) ($padding+1.5) ($padding+1.5)
		overflow-y scroll
		background $primary
		+above($xl)
			padding-top ($padding*4+4)
		+above($md + 1)
			height 100vh
		+below($md)
			stack()
			padding $padding
		&::-webkit-scrollbar
			display none
		&.fixed
			+above($md + 1)
				position absolute
				top 0
				right 0
				z-index 11

